DB_HOST=prueba.cluster-cbyco0wyw688.us-east-1.rds.amazonaws.com
DB_PORT=3306
DB_USER=Test2
DB_PASS=Bluecore26
DB_NAME=Examen2
JWT_SECRET=change_me_to_a_long_random_secret
JWT_EXPIRES_IN=1d
PORT=3000
NODE_ENV=development
